.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.btn-primary{
    background-color: #146e28;
}
.btn.btn-primary{
    background-color: #146e28;
}
button.btn.btn-primary{
    background-color: #146e28;
}

.btn-primary:active{
    background-color: #014f24;
}
.btn.btn-primary:active{
    background-color: #014f24;
}
button.btn.btn-primary:active{
    background-color: #014f24;
}