/*Navbar Opmaak*/
nav.navbar{
    margin: 0px;
}

nav.navbar-default{
    border-color: #146e28;
}
nav.navbar-default a.navbar-brand{
    color: #146e28;
}
nav.navbar-default a.navbar-brand:hover{
    color: #146e28;
    font-size: large;
    padding:13px;
    border-top: 2px solid #146e28;
    border-bottom: 2px solid #146e28;

}

nav.navbar-default a.navbar-brand:focus{
    color: #146e28;
    font-size: large;
    padding:13px;
    border-top: 2px solid #146e28;
    border-bottom: 2px solid #146e28;

}

nav.navbar-default ul.navbar-nav > li > a:link{
    color: #146e28;
}
nav.navbar-default ul.navbar-nav > li > a:visited{
    color: #146e28;
}
nav.navbar-default ul.navbar-nav > li > a:hover{
    color: #146e28;
    font-size: large;
    padding:13px;
    border-top: 2px solid #146e28;
    border-bottom: 2px solid #146e28;
}
nav.navbar-default ul.navbar-nav > li > a:active{
    color: #146e28;
    font-size: large;
    padding:13px;
    border-top: 2px solid #146e28;
    border-bottom: 2px solid #146e28;
}

nav.navbar-default ul.navbar-nav > li > a:focus{
    color: #146e28;
    font-size: large;
    padding:13px;
    border-top: 2px solid #146e28;
    border-bottom: 2px solid #146e28;
}

.navbar-brand-img{
    height:33px;
}
/*Dropdown*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    color: #146e28;
    font-size: large;
    padding:13px;
    border-top: 2px solid #146e28;
    border-bottom: 2px solid #146e28;
}

.navbar-default button.navbar-toggle {
   border-color: #146e28;
}

ul.dropdown-menu{
    padding:0px;
}
ul.dropdown-menu > li > a{
    color: #146e28;
}
ul.dropdown-menu > li > a:hover{
    color: #146e28;
    font-size: large;
    padding:13px;
    border-top: 2px solid #146e28;
    border-bottom: 2px solid #146e28;
}

nav.navbar-fixed-top{
    border-width:0 0 2px;
}

header.jumbotron {
    padding: 0px;

}
header.jumbotron-fluid{
    padding: 0px;
    border-bottom: 2px solid #146e28;
}

.capitalize {
    text-transform: capitalize;
}

body{
    padding-top: 40px;
}

/* Login modal*/
#error{
    margin:10px 0 10px 0;
}

/*Algemene content Opmaak*/
div.thumbnail{
    border-color: #146e28;
}

select.form-control{
    border-color: #146e28;
}

div > hr{
    border-top:1px solid #146e28;
    margin:3px;
}

*{
    border-color: #146e28;
}

#header{
    margin-top: 50px;
}

/*Footer Opmaak*/

footer{
    margin-bottom: 0px;
    padding:5px;
    text-align: left;
    color: #146e28;
    border-top: 2px solid #146e28;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:70px;
}

html{ height:94.5%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }
.footer-Right{
    text-align: right;
}

